.episod-list {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid black;

    div {
        font-size: 2rem;
    }
}

.episod-btn {
    margin-bottom: 5rem;
}
